.sidebar {
    height: 100vh;
    position: absolute;
    left: -100%;
    top: 0;
    width: 317px;
    background-color: #fff;
    padding: 63px 70px;
    transition: .3s;
}

.sidebar.open {
    left: 0;
}

.background {
    background-color: rgba(0, 0, 0, .4);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav a {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.nav a:hover {
}

.nav a.active {
}
.close {
    position: absolute;
    top: 16px;
    right: 24px;
}

.close img {
}
