.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative; /* Создаем контекст наслоения */
    z-index: 100; 
}

.editableSpanContainer {
    height: 35px;
    margin-bottom: 22px;
}